# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

artificial-cricket/Debug
node-demo-efm32/Debug
node-demo-efm32/GNU ARM v4.8.3 - Debug
node-demo-cc430/Debug
node-demo-cc430/Release

Archive/